

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <p style="color:#0071BC;font-size:12px;">NEWSLETTER</p>
            <p style="color:#1B1D1F;font-size:30px;">Get the newest info</p>
            <p style="font-size:14px;color:#ADB2C4;">Lorem Ipsum Sit Dolor Amet<p>



        </div>
        <div class="col-sm-4">
            <div style="height:50px;"></div>

            <form action="/users/newsletter"  method="post">
                <input name="query" style="width:300px;height:40px;border-radius:3px;border:1px solid #D5DBF1;" type="email">
                <button style="border:none;background-color:#F7931F;color:#FFFFFF;height:40px;border-radius:3px;width:40px;" type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>

        </div>

    </div>
    <div style="height:20px;"></div>

    <hr>
</div>
<div style="height:50px;"></div>





<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img style="width:124px;padding-bottom:10px;" src="/logo.png">
            <p style="font-size:18px;color:#ADB2C4;">Coininfo is an ICO rating platform supported by<br> investors and financial experts.<p>



        </div>
        <div class="col-sm-3">

            <ul class="footer-nav" style="list-style-type:none;">
                <li><strong style="color:#1B1D1F;font-size:18px;">More links</strong></li>

                <li>ICOs</li>
                <li>Publish ICO	</li>

            </ul>


        </div>
        <div class="col-sm-3">

            <ul class="footer-nav" style="list-style-type:none;">
                <li><strong style="color:#1B1D1F;font-size:18px;">Site links</strong></li>
                <li>Privacy Policy</li>
                <li>About Us</li>
            </ul>
        </div>

    </div>
    <div style="height:20px;"></div>

    <hr>
</div>
<div style="height:20px;"></div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p style="text-align: center;color:#ADB2C4!important;font-size:14px;">All rights reserved. 2018 © Copyright by Coininfo.</p>
        </div>
    </div>
</div>
















